.content {
  padding-bottom: 90px;
  background-color: #F6CD9C;
}

.footer {
  position: absolute;
  margin-left: 20px;
  bottom: 0;
  width: 100%;
  height: 80px;
}
.list-text {
  color: #7B4404;
  background-color: #F6CD9C;
}

.big-text {
  padding-inline: 20px;
}

.tr-one {
  background: blanchedalmond;
}

.td-one {
  background: blanchedalmond;
}

.mini-fix {
  font-size: 20px;
  margin-left: 20px;
}

.photo {
  margin-left: 20px;
  width: 150px;
  height: 150px;
  background: black;
}

h2 {
  margin-left: 20px;
  background-color: #E68617;
}

figcaption {
  margin-left: 10px;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  margin-left: 20px;
}

th {
  border: 1px solid black;
}

td {
  border: 1px solid black;
}

th,
td {
  border: 1px solid black;
}

.content {
  padding-bottom: 90px;
}

.footer {
  position: absolute;
  margin-left: 20px;
  bottom: 0;
  width: 100%;
  height: 80px;
}
