@import "https://fonts.googleapis.com/css2?family=Ranchers&display=swap";

@import "./blocks/index.scss";
@import "./_variables.scss";

body {
  font-family: 'Ranchers', cursive;
  background-image: linear-gradient(145deg, $colorOne, $colorTwo, $colorThree, $colorFour, $colorFive);
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.container {
  max-width: 1000px;
  width: 1000px;
  min-height: 100vh;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

.flex-position {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}