.slide {
  display: block;
  width: 400px;
  margin: 50px auto 0;
  position: relative;

  img {
    display: block;
    position: relative;
    max-width: 100%;
    height: auto;
  }

  &:hover {
    .slide-content {
      transform: translateY(-10%);

      &:before {
        left: 10px;
        box-shadow: 0 0 16px 3px rgba(0, 0, 0, 0.6);
        margin: 0 0 6px;
        right: 50.4%;
      }

      &:after {
        right: 10px;
        box-shadow: 0 0 16px 3px rgba(0, 0, 0, 0.6);
        margin: 0 0 6px;
        left: 50.4%;
      }
    }

    .slide-item {
      border-radius: 0 0 200px 200px/0 0 10px 10px;
    }
  }
}

.slide-content {
  margin: -10px 20px 0;
  position: relative;
  z-index: 3;
  text-align: center;
  transform: translateY(0);
  transition: transform .4s ease-in-out;

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    margin: 0 0 2px;
    height: 1px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.6);
    transition: .4s ease-in-out;
    left: 0;
    right: 50%;
    transform: rotate(1deg);
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    margin: 0 0 2px;
    height: 1px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.6);
    transition: .4s ease-in-out;
    right: 0;
    left: 50%;
    transform: rotate(-1deg);
  }
}

.slide-item {
  background: #FBFAF1;
  padding: 20px 20px 18px;
  position: relative;
  z-index: 5;
  border-radius: 0;
  transition: .4s ease-in-out;

  .header_subimage {
    color: #B4111A;
    font-size: 18px;
    margin-bottom: 15px;
  }

  p {
    font-size: 14px;
    line-height: 1.5em;
    color: #1E2630;
  }
}