.box {
  width: 400px;
  margin: 50px auto 0;
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    opacity: 0;
    transition: all 0.4s ease-in-out;
  }

  &:hover {
    &:before {
      opacity: 1;
    }

    img {
      transform: scale(1.1);
    }

    .text {
      p {
        opacity: 1;
      }
    }
  }
}

.box-inner {
  img {
    transition: all 0.4s ease-in-out;
    height: 270px;
    width: 400px;
  }
}

.text {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -40px;
  text-align: center;
  z-index: 2;

  p {
    font-family: 'Forum', cursive;
    color: white;
    display: inline-block;
    font-size: 20px;
    line-height: 75px;
    font-weight: 400;
    text-transform: uppercase;
    border-width: 1px 0;
    border-color: rgba(255, 255, 255, 0.5);
    border-style: solid;
    opacity: 0;
    transition: all 0.4s ease-in-out;
  }
}