include ../utils/mixins/link
block variables

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    title #{title}

    meta(name='description' content='Adding open graph tags with opengraph.xyz')

    meta(property='og:url' content='https://xokcton.github.io/front-end/lab5/')
    meta(property='og:type' content='website')
    meta(property='og:title' content='Lab5 Open Graph')
    meta(property='og:description' content='Adding open graph tags with opengraph.xyz')
    meta(property='og:image' content='https://picsum.photos/1200/630')

    meta(name='twitter:card' content='summary_large_image')
    meta(property='twitter:domain' content='xokcton.github.io')
    meta(property='twitter:url' content='https://xokcton.github.io/front-end/lab5/')
    meta(name='twitter:title' content='Lab5 Open Graph')
    meta(name='twitter:description' content='Adding open graph tags with opengraph.xyz')
    meta(name='twitter:image' content='https://picsum.photos/1200/630')

    meta(name='telegram:card' content='summary_large_image')
    meta(property='telegram:domain' content='xokcton.github.io')
    meta(property='telegram:url' content='https://xokcton.github.io/front-end/lab5/')
    meta(name='telegram:title' content='Lab5 Open Graph')
    meta(name='telegram:description' content='Adding open graph tags with opengraph.xyz')
    meta(name='telegram:image' content='https://picsum.photos/1200/630')

    link(rel='shortcut icon' href='./images/marijuana.svg' type='image/x-icon')
    script(defer src="https://kit.fontawesome.com/5aa6b76fa4.js" crossorigin="anonymous")
  body
    .container 
      .flex-position 
        include ../includes/modules/header
        block content      