extends ../layout/main
include ../utils/mixins/newsMixin

block variables
  - var title = "News Page";

block content
  main
    h2 Последние новости
    section
      +articleBlock('./images/n1.jpg', 'https://iz.ru/1127926/2021-02-21/avstriia-predosteregla-es-o-chrezmernoi-reaktcii-na-situatciiu-s-navalnym', ' 21 февраля 2021, 11:24')
      +articleBlock('./images/n2.jpg', 'https://iz.ru/1127905/2021-02-21/kandidat-v-genprokurory-ssha-poobeshchal-privlech-k-sudu-uchastnikov-shturma-kapitoliia', ' 21 февраля 2021, 09:28')
      +articleBlock('./images/n3.jpg', 'https://iz.ru/1127895/2021-02-21/iran-izuchaet-predlozhenie-evrosoiuza-o-vstreche-po-svpd-s-ssha', ' 21 февраля 2021, 07:46')
  include ../includes/modules/footer
