extends ../layout/main
include ../utils/mixins/photoMixin

block variables
  - var title = "Photo Page";

block content
  main
    h2 Фотоальбом
    section
      +figureBlock('http://alfa-content.ru/blog/gid-po-podboru-kartinok-dlya-statej/', './images/1.jpg', 'Рандоманя картинка')
      +figureBlock('https://www.film.ru/movies/vozvraschenec', './images/2.jpg', 'Фильм Выживший')
      +figureBlock('https://www.film.ru/movies/master-0', './images/3.jpg', 'Фильм Мастер')
      +figureBlock('https://www.film.ru/movies/molchanie-yagnyat', './images/4.jpg', 'Фильм Молчание ягнят')
  include ../includes/modules/footer