<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>

    <style>
        .content {
            padding-bottom: 90px;
        }

        .footer {
            position: absolute;
            margin-left: 20px;
            bottom: 0;
            width: 100%;
            height: 80px;
        }
    </style>
</head>
<body>
    
    <h2 style="margin-left: 20px;">Личная страница (блог) Єрьоменко Владислав Олексійович</h2>

    <ul>
        <li><a href="index.html" style="text-decoration: none; color: black;">Моя страница</a></li>
        <li><a href="rozklad.html" style="text-decoration: none; color: black;">Мое расписание</a></li>
        <li><a href="photo.html" style="text-decoration: none; color: black;">Фотольбом</a></li>
        <li><a href="news.html" style="text-decoration: none; color: black;">Последнии новости</a></li>
        <li><a href="#" style="text-decoration: none; color: black;">Видеоролики</a></li>
    </ul>

<div class="content">
    <h2 style="margin-left: 20px;">Последние Новости</h2>

    <div style="margin-left: 20px; width: 150px; height: 150px; background: black;"></div>
    <figcaption style="margin-left: 25px;">Фотография ночью</figcaption>

    <p style="padding-inline: 20px;">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br>
        Lorem Ipsum has been the industry's standard dummy text<br>
        ever since the 1500s, when an unknown printer took a galley of type and scrambled<br>
        it to make a type specimen book. It has survived not only five<br>
    </p>

    <div>
        <a href="https://www.google.com" style="font-size: 20px; margin-left: 20px;">подробнее</ф>
    </div>
</div>

<footer class="footer">
    <p style="margin-left: 20px;">Copyright 2021 Все права возможно защищены</p>
</footer>
</body>
</html>