<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>

    <style>
        .content {
            box-sizing: border-box;
            min-height: 100%;
            padding-bottom: 90px;
        }

        .footer {
            height: 80px;
            margin-top: -20px;
            margin-left: 20px;
        }
    </style>
</head>
<body>
    
    <h2 style="margin-left: 20px;">Личная страница (блог) Єрьоменко Владислав Олексійович</h2>

    <ul>
        <li><a href="index.html" style="text-decoration: none; color: black;">Моя страница</a></li>
        <li><a href="rozklad.html" style="text-decoration: none; color: black;">Мое расписание</a></li>
        <li><a href="photo.html" style="text-decoration: none; color: black;">Фотольбом</a></li>
        <li><a href="news.html" style="text-decoration: none; color: black;">Последнии новости</a></li>
        <li><a href="#" style="text-decoration: none; color: black;">Видеоролики</a></li>
    </ul>

    <div class="content">
        <h2 style="margin-left: 20px;">Фотоальбом</h2>
        
        <div style="margin-left: 20px; width: 100px; height: 100px; background: black;"></div>
        <figcaption style="margin-left: 10px;">Фотография ночью</figcaption>

        <div style="margin-left: 20px; width: 100px; height: 100px; background: black;"></div>
        <figcaption style="margin-left: 10px;">Фотография ночью</figcaption>
        
        <div style="margin-left: 20px; width: 100px; height: 100px; background: black;"></div>
        <figcaption style="margin-left: 10px;">Фотография ночью</figcaption>
        
        <div style="margin-left: 20px; width: 100px; height: 100px; background: black;"></div>
        <figcaption style="margin-left: 10px;">Фотография ночью</figcaption>
    </div>

    <footer>
        <p class="footer">Copyright 2021 Все права возможно защищены</p>
    </footer>
</body>
</html>