<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>

    <style>
        table {
            border-collapse: collapse;
            border: 1px solid black;
            margin-left: 20px;
        }

        th {
            border: 1px solid black;
        }

        td {
            border: 1px solid black;
        }

        th, td {
            border: 1px solid black;
        }

        .content {
            padding-bottom: 90px;
        }

        .footer {
            position: absolute;
            margin-left: 20px;
            bottom: 0;
            width: 100%;
            height: 80px;
        }
    </style>
</head>
<body>
    
    <h2>Личная страница (блог) Єрьоменко Владислав Олексійович</h2>

    <ul>
        <li><a href="index.html" style="text-decoration: none; color: black;">Моя страница</a></li>
        <li><a href="rozklad.html" style="text-decoration: none; color: black;">Мое расписание</a></li>
        <li><a href="photo.html" style="text-decoration: none; color: black;">Фотольбом</a></li>
        <li><a href="news.html" style="text-decoration: none; color: black;">Последнии новости</a></li>
        <li><a href="#" style="text-decoration: none; color: black;">Видеоролики</a></li>
    </ul>

<div class="content">
    <h2 style="margin-left: 20px;">Мое расписание</h2>

    <table>
        <tr style="background:blanchedalmond;">
            <th>Понедельник</th>
            <th>Вторник</th>
            <th>Среда</th>
            <th>Четверг</th>
            <th>Пятница</th>
            <th>Суббота</th>
            <th>Воскресенья</th>
        </tr>
        <tr>
            <td>Я не знаю</td>
            <td>Я не знаю</td>
            <td>Я не знаю</td>
            <td>Я не знаю</td>
            <td>Я не знаю</td>
            <td>Я не знаю</td>
            <td>Я не знаю</td>
        </tr>
        <tr>
            <td style="background:blanchedalmond;">Я не знаю</td>
            <td style="background:blanchedalmond;">Я не знаю</td>
            <td style="background:blanchedalmond;">Я не знаю</td>
            <td style="background:blanchedalmond;">Я не знаю</td>
            <td style="background:blanchedalmond;">Я не знаю</td>
            <td style="background:blanchedalmond;">Я не знаю</td>
            <td style="background:blanchedalmond;">Я не знаю</td>
        </tr>
        <tr>
            <td>Я не знаю</td>
            <td>Я не знаю</td>
            <td>Я не знаю</td>
            <td>Я не знаю</td>
            <td>Я не знаю</td>
            <td></td>
            <td></td>
        </tr>
        </tr>

            <td style="background:blanchedalmond;">Я не знаю</td>
            <td style="background:blanchedalmond;">Я не знаю</td>
            <td style="background:blanchedalmond;">Я не знаю</td>
            <td style="background:blanchedalmond;">Я не знаю</td>
            <td style="background:blanchedalmond;">Я не знаю</td>
            <td style="background:blanchedalmond;"></td>
            <td style="background:blanchedalmond;"></td>
        </tr>
    </table>
</div>

    <footer>
        <p class="footer">Copyright 2021 Все права возможно защищены</p>
    </footer>
</body>
</html>
