extends main.pug

block variables
    - var pageTitle = "Моя страница"

block content 
    div.content
        h2(style="margin-left: 20px;") Моя биография
        div(style="margin-left: 20px; width: 150px; height: 150px; background: black;")
        figcaption(style="margin-left: 25px;") Фотография ночью

        p(style="padding-inline: 20px;")
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br>
            Lorem Ipsum has been the industry's standard dummy text<br>
            ever since the 1500s, when an unknown printer took a galley of type and scrambled<br>
            it to make a type specimen book. It has survived not only five<br>

        div
            h2(style="margin-left: 20px;") Мои увлечения
            p(style="font-size: 20px; margin-left: 20px;") Игры на компьютере