block variables

doctype html
html(lang="en")
    head 
        title= pageTitle
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
    
        meta(property="og:locale" content="ru_RU")
        meta(property="og:type" content="article")
        meta(property="og:description" content="Задание 2 Open Graph")
        meta(property="og:url" content="https://vladislaw-lab3qq.000webhostapp.com/index.html")
    
        style
            include style.css
    body

        h2(style="margin-left: 20px;") Личная страница (блог) Єрьоменко Владислав Олексійович

        ul 
            li 
                a(href="index.html" style="text-decoration: none; color: black;") Моя страница
            li 
                a(href="rozklad.html" style="text-decoration: none; color: black;") Моё расписание
            li 
                a(href="photo.html" style="text-decoration: none; color: black;") Фотольбом
            li 
                a(href="news.html" style="text-decoration: none; color: black;") Последнии новости
            li 
                a(href="#" style="text-decoration: none; color: black;") Видеоролики
            

        block content

        footer.footer 
            p Copyright 2021 Все права возможно защищены