extends main.pug

block variables
    - var pageTitle = "Фото"

block content
    div.content
        h2(style="margin-left: 20px;") Фотоальбом

        div(style="margin-left: 20px; width: 100px; height: 100px; background: black;")
        figcaption(style="margin-left: 10px;") Фотография ночью

        div(style="margin-left: 20px; width: 100px; height: 100px; background: black;")
        figcaption(style="margin-left: 10px;") Фотография ночью

        div(style="margin-left: 20px; width: 100px; height: 100px; background: black;")
        figcaption(style="margin-left: 10px;") Фотография ночью

        div(style="margin-left: 20px; width: 100px; height: 100px; background: black;")
        figcaption(style="margin-left: 10px;") Фотография ночью