extends main.pug

block variables
    - var pageTitle = "Фото"

block content
    h2(style="margin-left: 20px;") Мое расписание
    
    mixin list
    table 
        tr(style="background:blanchedalmond;")
            th Понедельник
            th Вторник
            th Среда
            th Четверг
            th Пятница
            th Суббота
            th Воскресенья
        tr 
            td Я не знаю
            td Я не знаю
            td Я не знаю
            td Я не знаю
            td Я не знаю
            td Я не знаю
            td Я не знаю
        tr
            td(style="background:blanchedalmond;") Я не знаю
            td(style="background:blanchedalmond;") Я не знаю
            td(style="background:blanchedalmond;") Я не знаю
            td(style="background:blanchedalmond;") Я не знаю
            td(style="background:blanchedalmond;") Я не знаю
            td(style="background:blanchedalmond;") Я не знаю
            td(style="background:blanchedalmond;") Я не знаю
        tr 
            td Я не знаю
            td Я не знаю
            td Я не знаю
            td Я не знаю
            td Я не знаю
            td 
            td 
        tr 
            td(style="background:blanchedalmond;") Я не знаю
            td(style="background:blanchedalmond;") Я не знаю
            td(style="background:blanchedalmond;") Я не знаю
            td(style="background:blanchedalmond;") Я не знаю
            td(style="background:blanchedalmond;") Я не знаю
            td(style="background:blanchedalmond;") 
            td(style="background:blanchedalmond;") 
            