.content {
  padding-bottom: 90px;
}

.footer {
  position: absolute;
  margin-left: 20px;
  bottom: 0;
  width: 100%;
  height: 80px;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  margin-left: 20px;
}

th {
  border: 1px solid black;
}

td {
  border: 1px solid black;
}

th,
td {
  border: 1px solid black;
}
