* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  &::before,
  &::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  &:not([class]) {
    text-decoration-skip-ink: auto;
  }
}

img {
  max-width: 100%;
  display: block;
}

article {
  >* {
    + {
      * {
        margin-top: 1em;
      }
    }
  }
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}